<apex:page >
	<html>
   		<head>
            <title></title>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
        </head>
        <body>
            <!-- This is a *view* - HTML markup that defines the appearance of your UI -->
            
            <p>First name: <input data-bind="value: firstName" /></p>
            <p>Last name: <input data-bind="value: lastName" value="5" id="x"/></p>
            <p>Full name: <strong data-bind="text: fullName"></strong></p>
        </body>
        
        <script>
            // This is a simple *viewmodel* - JavaScript that defines the data and behavior of your UI
            function AppViewModel() {
                this.firstName = ko.observable("Bert");
                this.lastName = ko.observable("Bertington");
                this.fullName = ko.computed(function(){
                    return this.firstName()+" "+this.lastName();
                },this);
            }
            
            // Activates knockout.js
            ko.applyBindings(new AppViewModel());

        </script>
    </html>
</apex:page>